body {
  margin: 0;
  padding: 0;
}

.landingPage {
  margin: 0 auto;
  padding: 1vw;
  text-align: center;
}

.leaflet-container {
  height: 100vh; /* Full height of the viewport */
  width: 100%;   /* Full width */
}

.google_login_btn {
  height: 80vh;
}